.player {
    background-color: rgb(182, 182, 182, 0.6);
    display: flex;
    align-items: center;
    border-bottom-left-radius: 55px;
    border-top-left-radius: 55px;
    width: 320px;


    img {
        width: 75px;
        height: 75px;
        object-fit: cover;
        border-radius: 100px;
        padding-left: 10px;
    }

    span {
        font-size: 24px;
        margin-left: 5px;
    }
}

.player-active {
    background-color: orange;
    width: 360px;
}