.player {
    background-color: rgb(182, 182, 182, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 70px;
    min-width: 55px;

    img {
        width: 45px;
        height: 45px;
        object-fit: cover;
        border-radius: 100px;
        padding-top: 10px;
    }

    span {
        font-size: 12px;
    }
}

.player-active {
    background-color: orange;
}